.newComment {
  display: flex;
  justify-self: flex-start;
  flex-direction: column;
}

.comments {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.comment-post {
  background-color: #AE9FBE;
  border: #AE9FBE solid;
  font-size: 15px;
  height: 29px;
  border-radius: 10px 0 0 10px;
  padding-left: 5px;
  display: flex;
  align-items: center;
}

.comment-form {
  display: flex;
}

.comment-text {
  background-color: #502F71;
  border: #502F71 solid;
  font-size: 15px;
  color: #C571E2;
  width: 655px;
  height: 29px;
  border-radius: 10px 0 0 10px;
  padding-left: 5px;
}

.comment-button,
.unknown {
  color: aliceblue;
  background-color: #C571E2;
  border: #C571E2 solid;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 0 10px 10px 0;
}

.unknown {
  color: #C571E2;
}

.username {
  list-style-type: none;
  margin-right: 20px;
}

.comment-block {
  display: flex;
  height: 50px;
  align-items: center;
}

.error {
  color: aliceblue;
}

.button-like {
  display: flex;
  border: 2px solid #7F0137;
  background-color: #7F0137;
  border-radius: 0 10px 10px 0;
  padding: 5px 10px;
  font-size: 15px;
  height: 35px;
}

.comment-datetime {
  color: #36006C;
  font-size: 8px;
  text-align: end;
  margin-left: 30px;
  margin-right: 5px;
}

.created-comment {
  display: flex;
  height: 50px;
  align-items: center;
}

textarea::placeholder,
input::placeholder {
  color: #C571E2;
}

.dropdown {
  border: none;
  border-radius: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #C571E2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content button {
  color: #f1f1f1;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #C571E2;
  border-radius: 10px;
  width: 100%;
  border: none;
}

.dropdown-content button:hover {
  background-color: #f1f1f1;
  color:#C571E2;
}

.show {
  display: block;
}

.dropdown-content a {
  display: flex;
}

.comment-avatar {
  margin-right: 10px;
}