.posts__gallery {
  display: grid;
  grid-template-columns: 741px 741px;
  grid-template-rows: 216px 216px 216px 216px;
  gap: 25px;
  text-align: center;
}

.post__button {
  font-size: 24px;
  color: aliceblue;
}

.link {
  text-decoration: none;
}

.posts__heading {
  font-size: 48px;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.title {
  display: flex;
  justify-content: start;
  font-size: 20px;
  font-weight: bold;
}

.description,
.tags {
  display: flex;
  justify-content: start;
  font-size: 20px;
}

.tags {
  font-size: 16px;
}

.img__comment {
  width: 20px;
  height: 15px;
}

p {
  color: aliceblue;
}

.post__content {
  display: flex;
}

.int {
  padding-left: 10px;
}