.posts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 50px;
  flex-direction: column;
  margin-bottom: 465px;
}

.post__name {
  font-size: 24px;
  color: aliceblue;
}

.post {
  width: 100%;
}  

.posts__heading {
  font-size: 48px;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.post__title {
  display: flex;
  justify-content: start;
  font-size: 20px;
  margin: 10px 0;
}

.post-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.post__name {
  width: 1600px;
}

.post__description {
  font-size: 20px;
}

.tag {
  color: #C571E2;
  font-size: 16px;
  padding-top: 3px;
}

.back {
  background-color: #725A8D;
  color: aliceblue;
  width: 158px;
  height: 30px;
  border: 2px solid #725A8D;
  border-radius: 10px;
  font-size: 20px;
}

.button__back {
  display: flex;
  align-self: flex-start;
  margin-bottom: 30px;
}

.information__post {
  padding-top: 10px;
}

.button-heart {
  width: 93px;
  height: 26px;
  border: 2px solid #7F0137;
  background-color: #7F0137;
  border-radius: 20px;
}
