.footer-main {
  width: 100%;
}

.footer-post {
  position: fixed;
  bottom: 0;
  width: 100%; 
}

.content p {
  color: white;
  font-size: 20px;
}

.footer__content {
  background: #745A90;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  width: 1641px;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.connect {
  padding-top: 20px; 
  padding-left: 20px; 
  text-align: start;
}

.information {
  padding-top: 20px; 
  padding-right: 20px; 
}

.city {
  color: #36006CA1;
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding: 20px 0; 
}

.phone {
  margin-bottom: 20px;
}