#footer {
  background: linear-gradient(0deg, rgba(105,113,159,1) 0%, rgba(71,64,79,1) 100%);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.content p{
  color: white;
  font-size: 24px;
  text-align: center;
}

.footer__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}