* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100dvh;
}

html {
  background: rgb(51,0,103);
  background: linear-gradient(90deg, rgba(51,0,103,1) 0%, rgba(34,2,72,1) 56%, rgba(18,4,41,1) 100%);
}

#root {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-around;
  --container-max-width: 1200px;

  width: min(var(--container-max-width), 100% - (var(--padding) * 2));
}

/* input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #1E0241 inset;
  -webkit-text-fill-color: white; 
} */